*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(230, 17%, 14%);
  --bg-color-pattern: hsl(232, 19%, 15%);
  --primary-color: hsl(0, 0%, 100%);
  --card-bg-color: hsl(228, 28%, 20%);
  --secondary-color: hsl(228, 34%, 66%);
}

[data-theme='light'] {
  --bg-color: hsl(0, 0%, 100%);
  --bg-color-pattern: hsl(225, 100%, 98%);
  --primary-color: hsl(230, 17%, 14%);
  --card-bg-color: hsl(227, 47%, 96%);
  --secondary-color: hsl(228, 12%, 44%);
}

html {
  font-size: 62.5%; // 1rem === 10px
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: $primaryFont;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

// .light {
//   background-color: $white;
// }